resources/exsynchwsdefs/iCalendar-params.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by Toby Considine (TC9) -->
<!--non-normative, to support development of WS-Calendar - 2010/10/30. Refer to rfc5545 and xCal in the IETF for normative description-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0" 
           targetNamespace="urn:ietf:params:xml:ns:icalendar-2.0" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="iCalendar-valtypes.xsd" />
          
  <!-- =====================================================================
       3.2 Property parameter definitions
       ===================================================================== -->
       
  <xs:complexType name="ArrayOfParameters">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="altrep" type="xcal:altrepParamType" />
      <xs:element name="cn" type="xcal:cnParamType" />
      <xs:element name="cutype" type="xcal:cutypeParamType" />
      <xs:element name="delegated-from" type="xcal:delegated-fromParamType" />
      <xs:element name="delegated-to" type="xcal:delegated-toParamType" />
      <xs:element name="dir" type="xcal:dirParamType" />
      <xs:element name="encoding" type="xcal:encodingParamType" />
      <xs:element name="fmttype" type="xcal:fmttypeParamType" />
      <xs:element name="fbtype" type="xcal:fbtypeParamType" />
      <xs:element name="language" type="xcal:languageParamType" />
      <xs:element name="member" type="xcal:memberParamType" />
      <xs:element name="partstat" type="xcal:partstatParamType" />
      <xs:element name="range" type="xcal:rangeParamType" />
      <xs:element name="related" type="xcal:relatedParamType" />
      <xs:element name="reltype" type="xcal:reltypeParamType" />
      <xs:element name="role" type="xcal:roleParamType" />
      <xs:element name="rsvp" type="xcal:rsvpParamType" />
      <xs:element name="sent-by" type="xcal:sent-byParamType" />
      <xs:element name="tzid" type="xcal:tzidParamType" />
    </xs:choice>
  </xs:complexType>
  
  <xs:complexType name="cal-addressListParamType">
    <xs:sequence>
      <xs:element ref="xcal:cal-address" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
 
  <!-- 3.2.1 Alternate Text Representation -->
  <xs:complexType name="altrepParamType">
    <xs:sequence>
      <xs:element ref="xcal:uri"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 3.2.2 Common Name -->
  <xs:simpleType name="cnParamType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <!-- 3.2.3 Calendar User Type -->
  <xs:simpleType name="cutypeParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="INDIVIDUAL"/>
      <xs:enumeration value="GROUP"/>
      <xs:enumeration value="RESOURCE"/>
      <xs:enumeration value="ROOM"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.4 Delegators -->
  <xs:complexType name="delegated-fromParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:cal-addressListParamType"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- 3.2.5 Delegatees -->
  <xs:complexType name="delegated-toParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:cal-addressListParamType"/>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- 3.2.6 Directory Entry Reference -->
  <xs:complexType name="dirParamType">
    <xs:sequence>
      <xs:element ref="xcal:uri"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 3.2.7 Inline Encoding -->
  <xs:simpleType name="encodingParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="8BIT"/>
      <xs:enumeration value="BASE64"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.8 Format Type -->
  <xs:simpleType name="fmttypeParamType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <!-- 3.2.9 Free/Busy Time Type -->
  <xs:simpleType name="fbtypeParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="FREE"/>
      <xs:enumeration value="BUSY"/>
      <xs:enumeration value="BUSY-UNAVAILABLE"/>
      <xs:enumeration value="BUSY-TENTATIVE"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.10 Language -->
  <xs:simpleType name="languageParamType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <!-- 3.2.11 Group or List Membership -->
  <xs:complexType name="memberParamType">
    <xs:complexContent mixed="false">
      <xs:extension base="xcal:cal-addressListParamType"/>
    </xs:complexContent>
  </xs:complexType>
  
  <!-- 3.2.12 Participation Status -->
  <xs:simpleType name="partstatParamType">
    <xs:union memberTypes="xcal:type-partstat-event xcal:type-partstat-todo xcal:type-partstat-jour"/>
  </xs:simpleType>
  
  <xs:simpleType name="type-partstat-event">
    <xs:restriction base="xs:token">
      <xs:enumeration value="NEEDS-ACTION"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="DECLINED"/>
      <xs:enumeration value="TENTATIVE"/>
      <xs:enumeration value="DELEGATED"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="type-partstat-todo">
    <xs:restriction base="xs:token">
      <xs:enumeration value="NEEDS-ACTION"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="DECLINED"/>
      <xs:enumeration value="TENTATIVE"/>
      <xs:enumeration value="DELEGATED"/>
      <xs:enumeration value="COMPLETED"/>
      <xs:enumeration value="IN-PROCESS"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="type-partstat-jour">
    <xs:restriction base="xs:token">
      <xs:enumeration value="NEEDS-ACTION"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="DECLINED"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.13 Recurrence Identifier Range -->
  <xs:simpleType name="rangeParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="THISANDFUTURE"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.14 Alarm Trigger Relationship -->
  <xs:simpleType name="relatedParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="START"/>
      <xs:enumeration value="END"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.15 Relationship Type -->
  <xs:simpleType name="reltypeParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="PARENT"/>
      <xs:enumeration value="CHILD"/>
      <xs:enumeration value="SIBLING"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.16 Participation Role -->
  <xs:simpleType name="roleParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CHAIR"/>
      <xs:enumeration value="REQ-PARTICIPANT"/>
      <xs:enumeration value="OPT-PARTICIPANT"/>
      <xs:enumeration value="NON-PARTICIPANT"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.17 RSVP Expectation -->
  <xs:simpleType name="rsvpParamType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="TRUE"/>
      <xs:enumeration value="FALSE"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- 3.2.18 Sent By -->
  <xs:complexType name="sent-byParamType">
    <xs:sequence>
      <xs:element ref="xcal:cal-address"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 3.2.19 Time Zone Identifier -->
  <xs:simpleType name="tzidParamType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
