resources/exsynchwsdefs/wsmessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:tns="http://www.bedework.org/exsynch/wsmessages" 
        xmlns:xcal="urn:ietf:params:xml:ns:icalendar-2.0"
        xmlns:xcup="urn:ietf:params:xml:ns:icalendar-upd-1.0" 
        targetNamespace="http://www.bedework.org/exsynch/wsmessages" 
        elementFormDefault="qualified">
        
  <import schemaLocation="iCalendar.xsd" 
          namespace="urn:ietf:params:xml:ns:icalendar-2.0" />
        
  <import schemaLocation="iCalendar-update.xsd" 
          namespace="urn:ietf:params:xml:ns:icalendar-upd-1.0" />
          
  <!-- Schema for messages passed from exsynch processor to the remote service. -->
  
  <simpleType name="SynchType">
    <annotation>
      <documentation xml:lang="en">
           from... synch from that end
           both  both ways - server tries to resolve conflicts
           both...Master - Named service wins in conflicts.
      </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="fromExchange" />
      <enumeration value="toExchange" />
      <enumeration value="both" />
      <enumeration value="bothExchangeMaster" />
      <enumeration value="bothRemoteMaster" />
    </restriction>
  </simpleType>
  
  <simpleType name="StatusType">
    <restriction base="string">
      <enumeration value="OK" />
      <enumeration value="Already subscribed" />
      <enumeration value="Unknown Exchange calendar" />
      <enumeration value="Invalid token" />
      <enumeration value="Unknown subscription" />
      <enumeration value="No Access" />
      <enumeration value="Service Stopped" />
      <enumeration value="Error" />
    </restriction>
  </simpleType>
  
  <complexType name="base-synch-request">
    <annotation>
      <documentation xml:lang="en">
           Requests have this as the base type.
      </documentation>
    </annotation>
    <sequence>
      <element name="calendar-href" type="string" minOccurs="1" />
      <element name="principal-href" type="string" minOccurs="1" />
      <element name="synch-token" type="string" minOccurs="1" />
    </sequence>
  </complexType>
  
  <complexType name="base-synch-entity-request">
    <annotation>
      <documentation xml:lang="en">
           Message from remote service identifying an entity by it's UID and
           optionally its recurrenceid.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-request">
        <sequence >
          <element name="uid" type="string" minOccurs="1" />
          <element name="recurrence-id" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <complexType name="base-synch-response">
    <annotation>
      <documentation xml:lang="en">
           Responses have this as the base type.
      </documentation>
    </annotation>
    <sequence>
      <element name="subscribe-status" type="tns:StatusType" />
    </sequence>
  </complexType>
  
  <!-- *********************************************************************
       Remote system to syncher
       subscribe: set up a new subscription for a principal to a calendar
       unsubscribe: remove a new subscription for a principal to a calendar
       ********************************************************************* -->
  
  <complexType name="subscribe-request-type">
    <annotation>
      <documentation xml:lang="en">
           Message from remote service requesting new subscription.
           token
                 Sent in initial startup request
           principal-href
                 Principal requesting the subscription.
           synch-token
                 Passed back for operations on the calendar
           exchange-user
                 Userid for exchange
           exchange-encpw
                 Encoded password for exchange
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-request">
        <sequence >
          <element name="token" type="string" />
          <element name="exchange-folder-id" type="string" />
          <element name="exchange-uri" type="string" />
          <element name="synch-type" type="tns:SynchType" />
          <element name="exchange-user" type="string" />
          <element name="exchange-encpw" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="subscribe" type="tns:subscribe-request-type" />
  
  <complexType name="subscribe-response-type">
    <annotation>
      <documentation xml:lang="en">
           Response to message from remote service requesting new subscription.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-response">
        <sequence >
          <element name="subscription-id" type="string" />
          <element minOccurs="0" name="message" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="subscribe-response" type="tns:subscribe-response-type" />
  
  <complexType name="unsubscribe-request-type">
    <annotation>
      <documentation xml:lang="en">
           Message from remote service unsubscribing.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-request">
        <sequence >
          <element name="subscription-id" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="unsubscribe" type="tns:unsubscribe-request-type" />
  
  <complexType name="unsubscribe-response-type">
    <annotation>
      <documentation xml:lang="en">
           Response to message from remote service requesting unsubscription.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-response">
      </extension>
    </complexContent>
  </complexType>

  <element name="unsubscribe-response" type="tns:unsubscribe-response-type" />
  
  <!-- *********************************************************************
       Syncher to Remote system 
       start-service-notification; sent to (re)initialise the service
       get-sycnch-info: return info used to synch
       fetch: fetch one or more calendar items
       add: add a new calendar item
       update: update a calendar item
       delete: delete a calendar item
       ********************************************************************* -->
  
  <complexType name="start-service-notificationType">
    <annotation>
      <documentation xml:lang="en">
           (Re)initialize the service
           subscribe-url: callback url for notifications and subscribe requests
           token: random token for subscribe requests. If token is unchanged this
               is just a keep alive ping
      </documentation>
    </annotation>
    <sequence>
      <element name="subscribe-url" type="string" />
      <element name="token" type="string" />
    </sequence>
  </complexType>
  
  <element name="start-service-notification" 
           type="tns:start-service-notificationType" />
  
  <complexType name="start-service-response-type">
    <annotation>
      <documentation xml:lang="en">
           Respond to the ping
           token: sent in initial request
           status: OK
      </documentation>
    </annotation>
    <sequence>
      <element name="token" type="string" />
      <element name="status" type="tns:StatusType" />
    </sequence>
  </complexType>

  <element name="start-service-response" type="tns:start-service-response-type" />
  
  <complexType name="get-sycnch-info-type">
    <annotation>
      <documentation xml:lang="en">
           Message to remote service requesting synchronization info.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-request"/>
    </complexContent>
  </complexType>
  
  <element name="get-sycnch-info" type="tns:get-sycnch-info-type" />
  
  <complexType name="SynchInfoType">
    <sequence>
      <element name="uid" type="string" />
      <element name="exchange-lastmod" type="string" />
    </sequence>
  </complexType>
  
  <complexType name="synch-info-response-type">
    <annotation>
      <documentation xml:lang="en">
           Response to message to remote service requesting synchronization info.
      </documentation>
    </annotation>
    <sequence>
      <element name="calendar-href" type="string" />
      <element name="synch-info-responses">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="synch-info" 
                     type="tns:SynchInfoType" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  
  <element name="synch-info-response" type="tns:synch-info-response-type" />

  <!-- ============================ add-item =============================== -->
  
  <complexType name="add-item-type">
    <annotation>
      <documentation xml:lang="en">
           Message to add a calendar item.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-entity-request">
        <sequence>
          <element name="icalendar" type="xcal:icalendarType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <element name="add-item" type="tns:add-item-type" />
  
  <complexType name="add-item-response-type">
    <annotation>
      <documentation xml:lang="en">
           Response to message to add an item.
      </documentation>
    </annotation>
    <sequence>
      <element name="status" type="tns:StatusType" />
      <element name="message" type="string" />
    </sequence>
  </complexType>
  
  <element name="add-item-response" type="tns:add-item-response-type" />

  <!-- ============================ add-item =============================== -->
  
  <complexType name="fetch-item-type">
    <annotation>
      <documentation xml:lang="en">
           Message to fetch a calendar item.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-entity-request"/>
    </complexContent>
  </complexType>
  
  <element name="fetch-item" type="tns:fetch-item-type" />
  
  <complexType name="fetch-item-response-type">
    <annotation>
      <documentation xml:lang="en">
           Response to message to fetch an item.
      </documentation>
    </annotation>
    <sequence>
      <element name="icalendar" type="xcal:icalendarType" />
      <element name="status" type="tns:StatusType" />
      <element name="message" type="string" />
    </sequence>
  </complexType>
  
  <element name="fetch-item-response" type="tns:fetch-item-response-type" />

  <!-- ========================== update-item ============================== -->
  
  <complexType name="update-item-type">
    <annotation>
      <documentation xml:lang="en">
           Message to update a calendar item.
      </documentation>
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:base-synch-entity-request">
        <sequence>
          <element ref="xcup:updates" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  
  <element name="update-item" type="tns:update-item-type" />
  
  <complexType name="update-item-response-type">
    <annotation>
      <documentation xml:lang="en">
           Response to message to update an item.
      </documentation>
    </annotation>
    <sequence>
      <element name="status" type="tns:StatusType" />
      <element name="message" type="string" />
    </sequence>
  </complexType>
  
  <element name="update-item-response" type="tns:update-item-response-type" />
</schema>
